{% extends "base.html.twig" %}
{% block content %}
<div>
   <header class = "header">
    <a href="acceuil.php"><img class ="imgheader1" src="img/image-removebg-preview 2.png" alt="Logo accord energie ">
    <a href="logout.php"><img class ="imgheader2"src="img/img_logout.png" alt="Logo paramètre " ></a>
    <a href="profile.php"><img class ="imgheader3"src="img/image 18.png" alt="Logo page profile" ></a>
</header>
<div class="parallax"></div>
    <div class="texte-centre-parallax">
        À propos d'AccordEnergie
    </div>
<div class="about-section">
    <p>AccordEnergie est une entreprise leader dans le secteur de l'énergie renouvelable. Fondée en [année de création], notre mission est de fournir des solutions énergétiques durables et innovantes pour les particuliers et les entreprises. Nous sommes dédiés à promouvoir l'utilisation de l'énergie solaire, éolienne et d'autres formes d'énergie renouvelable pour contribuer à un avenir plus vert et plus durable.</p>

    <p>Notre équipe est composée de professionnels passionnés et expérimentés dans le domaine de l'énergie renouvelable. Nous travaillons ensemble pour concevoir, installer et maintenir des systèmes énergétiques qui non seulement répondent aux besoins de nos clients mais contribuent également à la protection de l'environnement.</p>

    <p>Au fil des années, AccordEnergie a réalisé de nombreux projets significatifs qui ont eu un impact positif sur l'environnement et sur les communautés locales. De l'installation de panneaux solaires sur des bâtiments résidentiels à la mise en place de grands parcs éoliens, chaque projet est une étape vers notre objectif de rendre l'énergie renouvelable accessible à tous.</p>

    <p>Engagée envers la communauté, AccordEnergie participe activement à des initiatives locales visant à éduquer le public sur les avantages de l'énergie renouvelable. Nous croyons en l'importance de construire un avenir durable ensemble, et nous nous engageons à travailler main dans la main avec les communautés pour atteindre cet objectif.</p>
</div>

    <footer>
        <div class ="informationcontact">
            <h3>Informations de Contact:</h3>
            <ul>
                <li>Adresse de l'entreprise: 123 Rue des Innovations, Ville Verte</li>
                <li>Numéro de téléphone: +1 (123) 456-7890</li>
                <li>Adresse e-mail: contact@accordenergie.com</li>
            </ul>
        </div>
        <div class="liensutile">
            <h3>Liens Utiles:</h3>
            <ul>
                <li><a href="CU.php">Conditions d'utilisation</a></li>
                <li><a href="PC.php"> Politique de confidentialité</a></li>
                <li><a href="FAQ.php">FAQ</a></li>
            </ul>
        </div>
        <div class="liensrapides">
            <h3>Liens Rapides:</h3>
                <ul>
                    <li><a href="acceuil.php">Accueil</a></li>
                    <li><a href="a_propos.php">À propos de nous</a></li>
                    <li><a href="projet.php">Projets</a></li>
                </ul>
        </div>
        <div class="partenaireslogos">
            <h3>Partenaires et Collaborateurs:</h3>
            <img src="img/partenaire1.png" alt="logo partenaire">
            <img src="img/partenaire2.png" alt="logo partenaire">
            <img src="img/partenaire3.png" alt="logo partenaire">
            <img src="img/partenaire4.png" alt="logo partenaire">
            <img src="img/partenaire5.png" alt="logo partenaire">

        </div>
    </footer>
</div>
{% endblock %}