{% extends "base.html.twig" %}
{% block content %}
<div>
   <header class = "header">
    <a href="acceuil.php"><img class ="imgheader1" src="img/image-removebg-preview 2.png" alt="Logo accord energie ">
    <a href="logout.php"><img class ="imgheader2"src="img/img_logout.png" alt="Logo paramètre " ></a>
    <a href="profile.php"><img class ="imgheader3"src="img/image 18.png" alt="Logo page profile" ></a>
</header>
<div class="parallax2"></div>
    <div class="texte-centre-parallax">
        Conditions Générales d'Utilisation
    </div>
<div class="about-section">
<h3>Article 1 : Objet</h3>
<p>Les CGU doivent être acceptées par tout Utilisateur souhaitant accéder au site. Elles constituent le contrat entre le site et l'Utilisateur. L’accès au site par l’Utilisateur signifie son acceptation des présentes CGU.</p>

<h3>Article 2 : Mentions légales</h3>
<p>Le site AccordEnergie est édité par [Nom de l'éditeur], [Adresse], [Email].</p>

<h3>Article 3 : Accès aux services</h3>
<p>L'Utilisateur du site AccordEnergie a accès aux services suivants : [...]. Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n’importe où au site. Les frais supportés par l'Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l'Éditeur.</p>

<h3>Article 4 : Responsabilité de l'Utilisateur</h3>
<p>L'Utilisateur est responsable des risques associés à l'utilisation de son identifiant de connexion et de son mot de passe. Le mot de passe de l'Utilisateur doit rester secret. En cas de divulgation de mot de passe, l'Éditeur décline toute responsabilité.</p>

<h3>Article 5 : Propriété intellectuelle</h3>
<p>Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…) sont protégés par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.</p>

<h3>Article 6 : Données personnelles</h3>
<p>Les informations demandées à l'inscription au site sont nécessaires et obligatoires pour la création du compte de l'Utilisateur. Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi relative à l'informatique, aux fichiers et aux libertés.</p>

<h3>Article 7 : Modifications des conditions d’utilisation</h3>
<p>Le site AccordEnergie se réserve le droit de modifier les clauses stipulées dans le présent contrat à tout moment.</p>

<h3>Article 8 : Durée</h3>
<p>La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter de l'utilisation du service.</p>
</div>

<p class="text-center">17/03/2024</p>
    <footer>
        <div class ="informationcontact">
            <h3>Informations de Contact:</h3>
            <ul>
                <li>Adresse de l'entreprise: 123 Rue des Innovations, Ville Verte</li>
                <li>Numéro de téléphone: +1 (123) 456-7890</li>
                <li>Adresse e-mail: contact@accordenergie.com</li>
            </ul>
        </div>
        <div class="liensutile">
            <h3>Liens Utiles:</h3>
            <ul>
                <li><a href="CU.php">Conditions d'utilisation</a></li>
                <li><a href="PC.php"> Politique de confidentialité</a></li>
                <li><a href="FAQ.php">FAQ</a></li>
            </ul>
        </div>
        <div class="liensrapides">
            <h3>Liens Rapides:</h3>
                <ul>
                    <li><a href="acceuil.php">Accueil</a></li>
                    <li><a href="a_propos.php">À propos de nous</a></li>
                    <li><a href="projet.php">Projets</a></li>
                </ul>
        </div>
        <div class="partenaireslogos">
            <h3>Partenaires et Collaborateurs:</h3>
            <img src="img/partenaire1.png" alt="logo partenaire">
            <img src="img/partenaire2.png" alt="logo partenaire">
            <img src="img/partenaire3.png" alt="logo partenaire">
            <img src="img/partenaire4.png" alt="logo partenaire">
            <img src="img/partenaire5.png" alt="logo partenaire">

        </div>
    </footer>
</div>
{% endblock %}