{% extends "base.html.twig" %}
{% block content %}
<div>
   <header class = "header">
    <a href="acceuil.php"><img class ="imgheader1" src="img/image-removebg-preview 2.png" alt="Logo accord energie ">
    <a href="logout.php"><img class ="imgheader2"src="img/img_logout.png" alt="Logo paramètre " ></a>
    <a href="profile.php"><img class ="imgheader3"src="img/image 18.png" alt="Logo page profile" ></a>
</header>
<div class="parallax3"></div>
    <div class="texte-centre-parallax">
        Politique de Confidentialité
    </div>
<div class="about-section">
<h3>Article 1 : Collecte des informations</h3>
<p>AccordEnergie peut recueillir les informations suivantes : nom, informations de contact incluant l'adresse email, informations démographiques telles que le code postal, préférences et intérêts, et autres informations pertinentes pour les enquêtes clients et/ou les offres.</p>

<h3>Article 2 : Utilisation des informations</h3>
<p>Nous avons besoin de ces informations pour comprendre vos besoins et vous fournir un meilleur service, et notamment pour les raisons suivantes : Tenue de dossiers internes, Amélioration de nos produits et services, Envoi périodique d'emails promotionnels sur de nouveaux produits, offres spéciales ou autres informations que nous pensons susceptibles de vous intéresser en utilisant l'adresse email que vous avez fournie.</p>

<h3>Article 3 : Sécurité</h3>
<p>Nous nous engageons à assurer la sécurité de vos informations. Afin de prévenir l'accès non autorisé ou la divulgation, nous avons mis en place des procédures physiques, électroniques et managériales adéquates pour sauvegarder et sécuriser les informations que nous collectons en ligne.</p>

<h3>Article 4 : Liens vers d'autres sites</h3>
<p>Notre site peut contenir des liens vers d'autres sites d'intérêt. Cependant, une fois que vous avez utilisé ces liens pour quitter notre site, vous devez noter que nous n'avons aucun contrôle sur cet autre site. Par conséquent, nous ne pouvons pas être responsables de la protection et de la confidentialité des informations que vous fournissez en visitant de tels sites et ces sites ne sont pas régis par cette déclaration de confidentialité.</p>

<h3>Article 5 : Contrôle de vos informations personnelles</h3>
<p>Vous pouvez choisir de restreindre la collecte ou l'utilisation de vos informations personnelles de la manière suivante : chaque fois que vous êtes invité à remplir un formulaire sur le site, recherchez la case sur laquelle vous pouvez cliquer pour indiquer que vous ne voulez pas que les informations soient utilisées par quiconque à des fins de marketing direct.</p>

<p>Si vous avez précédemment accepté que nous utilisions vos informations personnelles à des fins de marketing direct, vous pouvez changer d'avis à tout moment en nous écrivant ou en nous envoyant un email.</p>

<p>AccordEnergie ne vendra, ne distribuera ni ne louera vos informations personnelles à des tiers à moins d'avoir votre permission ou d'être requis par la loi de le faire.</p>

<p class="text-center">17/03/2024</p>
</div>
    <footer>
        <div class ="informationcontact">
            <h3>Informations de Contact:</h3>
            <ul>
                <li>Adresse de l'entreprise: 123 Rue des Innovations, Ville Verte</li>
                <li>Numéro de téléphone: +1 (123) 456-7890</li>
                <li>Adresse e-mail: contact@accordenergie.com</li>
            </ul>
        </div>
        <div class="liensutile">
            <h3>Liens Utiles:</h3>
            <ul>
                <li><a href="CU.php">Conditions d'utilisation</a></li>
                <li><a href="PC.php"> Politique de confidentialité</a></li>
                <li><a href="FAQ.php">FAQ</a></li>
            </ul>
        </div>
        <div class="liensrapides">
            <h3>Liens Rapides:</h3>
                <ul>
                    <li><a href="acceuil.php">Accueil</a></li>
                    <li><a href="a_propos.php">À propos de nous</a></li>
                    <li><a href="projet.php">Projets</a></li>
                </ul>
        </div>
        <div class="partenaireslogos">
            <h3>Partenaires et Collaborateurs:</h3>
            <img src="img/partenaire1.png" alt="logo partenaire">
            <img src="img/partenaire2.png" alt="logo partenaire">
            <img src="img/partenaire3.png" alt="logo partenaire">
            <img src="img/partenaire4.png" alt="logo partenaire">
            <img src="img/partenaire5.png" alt="logo partenaire">

        </div>
    </footer>
</div>
{% endblock %}