<h1> Créez votre compte </h1>

<form action="" method="post">
    <div>
        <label for="email"> Entrez votre  email</label>
        <input type="email"
                required="required"
                id="email"
                name="email"
                placeholder="Entrez votre email"
        >

    </div>
    <div>
        <label for="email_cfg"> Confirmez votre email</label>
        <input type="email_cfg"
                required="required"
                id="email_cfg"
                name="email_cfg"
                placeholder="Confimez votre email"
        >

    </div>
    <div>
        <label for="password">  Entrez votre password</label>
        <input type="password"
                required="required"
                id="password"
                name="password"
                placeholder="Entrez votre password"
        >

    </div>
    <div>
        <label for="passwordcfg"> Confimez votre password</label>
        <input type="password"
                required="required"
                id="passwordcfg"
                name="passwordcfg"
                placeholder="Confimez votre password"
        >

    </div>
    <div>
        <input type="submit" name ="send" value="Créer">
    </div>
    
</form>

<p>
    <a href="index.php">Déja un compte ?</a>
</p>
