body {
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    border-radius: 20px;
    background-color: rgba(75, 117, 130, .51);
    width: 500PX;
    height: auto;
    margin-top: 60px;
    
}
.image{
    margin-left: 90px;
    padding: 10px;
    width: 300px;
    height: 200px;
    margin-top: -30px;
   
}
.H1{
    margin-left: 55px;
    padding: center;
    height: 200px;
    margin-top: 0;
    line-height: 40%;
    font-weight: bold;
    font-style: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form{
    
    height: 400px;
    margin-top: -120px;

}
.mail{
    border-radius: 10px;
    border: 3px solid #7ac2c1 ;
    width: 400px;
    margin-top: -100px;
    margin-left: 40px;
    height: 35px;
    background-color:rgb(255, 253, 253, .85);
    
    
}
.email_cf{
    border-radius: 10px;
    width: 400px;
    border: 3px solid #7ac2c1 ;
    margin-top: 15px;
    margin-left: 40px;
    height: 35px;
    background-color:rgb(255, 253, 253, .85);

    
}
.pwd{
    border-radius: 10px;
    border: 3px solid #7ac2c1 ;
    width: 400px;
    height: 35px;
    margin-top: 15px;
    margin-left: 40px;
    background-color:rgb(255, 253, 253, .85);

}
.pwd_cf{
    border-radius: 10px;
    border: 3px solid #7ac2c1 ;
    width: 400px;
    margin-top: 15px;
    margin-left: 40px;
    height: 35px;
    background-color:rgb(255, 253, 253, .85);

}
.form-check{
    margin-left: 40px;
    margin-top: 10px;
}
.btn-creer{
    border-radius :15px;
    background-color:rgb(149, 237, 195, .80) ;
    margin-left: 40px;
    height: 35px;
    margin-top: 15px;
    width: 400px; ;
    
}
.login{
    margin-left: 40px;
    margin-top: 10px;
    font-style: normal;
    color: rgb(0, 0, 0);

}
::placeholder {
    color: rgb(19, 19, 28);
    font-size: 1em;
    color: black;
    text-align: center;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
.link_creer_compte{
    margin-left: 170px;
    margin-top:100;
    font-style:initial;
    color: rgb(255, 255, 255);
    padding:center;
    line-height:50px;
    font-size: larger;

}
.container_login{
    border-radius: 20px;
    background-color: rgba(75, 117, 130, .51);
    margin-top: 60px;
    width: 500px;
    padding: -110px;
    margin-left:32%;
}
.H2{
    margin-left: 140px;
    padding: center;
    height: 200px;
    margin-top: 0;
    line-height: 40%;
    font-weight: bold;
    font-style: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.messagebox {
    background-color: #5888c6;
    color: white;
    padding: 15px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
    font-weight: bold;
    transition: 0.3s;
    width:500px;
    border-radius: 15px;
}
.header{
    background-color: #497E8E;
    height: 90px;

}
.imgheader1{
    margin-left: 0px;
    padding: 5px;
    width: 200px;
    height: 85px;
 
}
.imgheader3{
    width: 60px;
    height: 60px;
    margin-bottom: auto;
}
.imgheader2{
    margin-left: 1030px;;
    width: 20px;
    height: 20px;
 
}
.howcanihelp{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-style: normal;
    width: 600px ;
    text-align: center;
    margin-top: 3px;
    margin-left: 0px;
    display: inline-block;
    background-color: white;
}
.imgcani{
    align-items: center;
    height: 150px;
    width: 350px;
    position: right ,top ;
    margin: -120px 0 0 200px;
}
.main{
    background-color: #497E8E;

}
.img20{
    width: 30px;
    height: 30px;
    margin-left: 50%;
}
.actions{
    margin: 10px 310px 30px 300px;
    background-color: #3788cfb1;
    display: flex;
    align-items: center;
    border-radius: 10px ;
    padding: 10px;
    width: 60%;
}
.facturation{
    background-color: #B1EA37 ;
    border-radius: 10px;
    margin-left: 130px;
    text-align: center;
    width: 110px;
    height: 130px;
}
.planning,.intervention{
    background-color: #B1EA37 ;
    border-radius: 10px;
    margin-left: 100px;
    text-align: center;
    width: 110px;
    height: 130px;

}
.imgpla,.imginter,.imgfact{
    margin-top: 30px;

    width: 50px;
    height: 50px;
}
.faq{
    background-color: white;
    border-radius: 10px;
    text-align: color white ;
    margin-left: 30px;
    width: 630px;
    height: 400px;
 
}
#faq{
    margin-left: 30px;
}
.faqliens{
    color: black;
    margin-top: 10px;
    margin-left: -50px;
    font-size:small;

}
.intitule1{
    background-color: white;
    width: 600px;
    margin-left: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border-style: dotted;
    border-color: black;
    margin-top: 10px;
    text-align: center;
}
.preimg1{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.preimg1 pre{
    font-size: x-small;
    margin-left: -80px;
}
.preimg1 img{
    margin-top: -20px;
    margin-left: 15px;

}
.lastproject{
    background-color: rgb(251, 251, 251);
    border-radius: 10px;
    margin-left: 80px;
    width: 630px;
    height: 430px;
    display: inline-block;
    align-items: center;
    
}
.lastproject h1{
    font-size: medium;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.faq1{
    height: 520px;
    width: 630px;
    display: inline-block;
    align-items: center;
}
.informationcontact,
.liensrapides,
.liensutile,
.partenaireslogos {
    margin-left: 70px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top; 
}
.liensrapides,
.liensutile{
    margin-left: 150px;
}
.partenaireslogos{
    margin-left: 260px
}

.informationcontact h3,
.liensrapides h3,
.liensutile h3,
.partenaireslogos h3 {

    font-size: 16px;
    color: #fff; 
    margin-bottom: 10px; 
}

.informationcontact h3,
.liensrapides h3,
.liensutile h3,
.partenaireslogos h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.informationcontact ul li,
.liensrapides ul li,
.liensutile ul li {
    font-size: 14px; 
    color: #000000; 

}


footer {
    background-color: #7ac2c1; /* Couleur de fond du footer */
    padding: 20px; /* Espacement intérieur du footer */

}
.Admin_div_utulisateurs{
    background-color: #a4c9d4;
  

}
.formintervention{

    width: 1080px;
    height: auto;
    margin-left: 200px;
    background-color: #fff;
    padding-left:2%;
    padding-right:2%;
    border-radius:5%;
    margin-top: 15px;

}
