{% extends "base.html.twig" %}
{% block content %}
<div>
   <header class = "header">
    <a href="acceuil.php"><img class ="imgheader1" src="img/image-removebg-preview 2.png" alt="Logo accord energie ">
    <a href="logout.php"><img class ="imgheader2"src="img/img_logout.png" alt="Logo paramètre " ></a>
    <a href="profile.php"><img class ="imgheader3"src="img/image 18.png" alt="Logo page profile" ></a>
</header>
    <main>
        <div class="howcanihelp">
           <pre><strong>
            Welcome {{prenom}} {{nom}}
            how can we help ? </strong>
           </pre>
        </div>
         <img class="imgcani" src="img/undraw_Solution_mindset_re_57bf 1.png" alt="Logo helping">
        <div class="main">
         <img class="img20" src="img/image 20.png" alt="Logo ">
        <div class ="actions">
            <div class ="facturation">
                <a href="factu.php">
                <img class="imgfact" src="img/facturation.png" alt="facturation logo">
                <p><strong>Facturation</strong></p>
            </div>
            <div  class="planning">
                <a href="">
                <img class="imgpla" src="img/planning.png" alt="Logo planning">
                <p><strong>Projets</strong></p>
            </div>
            <div class ="intervention">
                 <a href="form_intervention.php">
                <img class="imginter" src="img/intervention.png" alt="Logo intervention">
                <p><strong>Intervention</strong></p>
                </a>
            </div>

        </div>
           <div class ="faq1">
        <div class ="faq" style="overflow: auto;">
            <h1 id ="faq">FAQ :</h1>
            <pre>
                <a class="faqliens" href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.essitatibus impedit</a><br>
                <a class="faqliens" href="">Lorem ipsum, dolor sit amet consectetur adipisicing Necessitatibus impedit ?</a><br>
                <a class="faqliens" href="">Lorem ipsum, dolor sit amet , libero placeat! Necessitatibus impedit ?</a><br>
                <a class="faqliens" href="">Lorem ipsum, dolor sit amet consectetur?</a><br>    
                <a class="faqliens" href="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis?</a><br>            
            </pre>
        </div> 
        </div>
        <div class="lastproject" style="overflow: auto;">
            <div class ="intitule1">
                <h5>Panneaux solaire à Bali !</h5>
                <div class ="preimg1">
                <pre>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Odio non ipsum iure quam labore nam magni, quia cum illo soluta qui
                    temporibus quisquam eligendi optio commodi blanditiis quis veritatis
                </pre>
                  <img src="img/projet1.png" alt="img projet 1">
                
                </div>
            </div>
            <div class="intitule1">
                <h5>Intitulé de projet 2</h5>
                <div class ="preimg1">
                <pre>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Odio non ipsum iure quam labore nam magni, quia cum illo soluta qui
                    temporibus quisquam eligendi optio commodi blanditiis quis veritatis
                </pre>
                <img src="img/projet3.png" alt="img projet 1">
                </div>
            </div>
            <div class="intitule1">
                <h5>Intitulé de projet 3</h5>
                <div class ="preimg1">
                <pre>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Odio non ipsum iure quam labore nam magni, quia cum illo soluta qui
                    temporibus quisquam eligendi optio commodi blanditiis quis veritatis
                </pre>
                <img src="img/projet3.png" alt="img projet 1">
                </div>
            </div>
        </div>
     </div>
    </main>
    <footer>
        <div class ="informationcontact">
            <h3>Informations de Contact:</h3>
            <ul>
                <li>Adresse de l'entreprise: 123 Rue des Innovations, Ville Verte</li>
                <li>Numéro de téléphone: +1 (123) 456-7890</li>
                <li>Adresse e-mail: contact@accordenergie.com</li>
            </ul>
        </div>
        <div class="liensutile">
            <h3>Liens Utiles:</h3>
            <ul>
                <li><a href="CU.php">Conditions d'utilisation</a></li>
                <li><a href="PC.php"> Politique de confidentialité</a></li>
                <li><a href="FAQ.php">FAQ</a></li>
            </ul>
        </div>
        <div class="liensrapides">
            <h3>Liens Rapides:</h3>
                <ul>
                    <li><a href="acceuil.php">Accueil</a></li>
                    <li><a href="a_propos.php">À propos de nous</a></li>
                    <li><a href="projet.php">Projets</a></li>
                </ul>
        </div>
        <div class="partenaireslogos">
            <h3>Partenaires et Collaborateurs:</h3>
            <img src="img/partenaire1.png" alt="logo partenaire">
            <img src="img/partenaire2.png" alt="logo partenaire">
            <img src="img/partenaire3.png" alt="logo partenaire">
            <img src="img/partenaire4.png" alt="logo partenaire">
            <img src="img/partenaire5.png" alt="logo partenaire">

        </div>
    </footer>
</div>
{% endblock %}